* {
    box-sizing: border-box;
}

.parent{
    height: 1000px;
    width: 1000px;
    background: red;
}
div {
    padding: 10px;
}
.top{
    margin-bottom: 10px;
}
.d-flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}
.flex-row{
    flex-direction: row;
}
.flex-row-reverse{
    flex-direction: row-reverse;
}
.bg-green{
    background: green;
}
.bg-yellow{
    background: yellow;
}
.bg-blue{
    background: blue;
}
.h-100 {
    height: 100%;
}
.w-50{
    width: 50%;
}
.size-100px{
    height: 100px;
    width: 100px;
}

.j-c-sp-bet{
    justify-content: space-between;
}
.flex-align-self-end{
    align-self: end;
}
.flex-align-self-center{
    align-self: center;
}