* {
    box-sizing: border-box;
}
.parent{
    height: 1000px;
    width: 1000px;
    background: red;
}
div {
    padding: 10px;
}

.d-flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}
.flex-row{
    flex-direction: row;
}
.bg-yellow{
    background: yellow;
}
.bg-blue{
    background: blue;
}
.bg-green{
    background: chartreuse;
}
.child{
    flex-grow: 1;
}
.margin{
    margin-right: 10px;
    margin-left: 10px;
}
.h-100 {
    height: 100px;
}

.j-c-between{
    justify-content: space-between;
}
.j-c-end{
    justify-content: end;
}
.size-100{
    height: 100px;
    width: 100px;
}
.size-80{
    height: 80px;
    width: 80px;
}
.align-self-end{
    align-self: flex-end;
}
.align-self-center{
    align-self: center;
}
.align-items-center{
    align-items: center;
}
.j-c-center{
    justify-content: center;
}
