* {
    box-sizing: border-box;
}

header{
    height:120px;
    width: 1000px;
    border: 10px solid red;
    padding: 5px;
}

.parent{
    height: 900px;
    width: 1000px;

}
.left{
    height: 100%;
    width: 25%;
    border: 10px solid red;
    border-block-start: 0px;
}
.content{
    height: 100%;
    width: 75%;
    border: 10px solid red;
    border-block-start: 0px;
    border-left-width: 0px  ;
}
.d-flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.h-150{
    height: 150px;
    width: 100%;
    margin-block: 10px;
}
.size-100{
    height: 100%;
    width: 100px;
    margin-right: 10px;
}
.j-c-between{
    justify-content: space-between;
}
.j-c-end{
    justify-content: flex-end;
}
.align-self-end{
    align-self: flex-end;
}

.bg-yellow {
    background: yellow;
}

.bg-red {
    background: red;
}

.bg-green {
    background: chartreuse;
}

.bg-orange {
    background: orange;
}

.bg-blue {
    background: blue;
}
.bg-purple{
    background: purple;
}


